body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: block;
}


nav {
  height: 4rem;
  width: 100%;
  position: fixed;
  background: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999999;
}


nav > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: .5rem;
  height: 90%;
  aspect-ratio: 1/1;
}

nav > div > div {
  height: .25rem;
  width: 80%;
  background: white;
}

.burger-content {
  display: hidden;
  
}


.header {
  min-height: 100svh;
  width: 100%;
  background: url("image.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: white;
  position: relative;
  padding: 1rem;
}

.header::before {
  content: "";
  inset: 0;
  margin: auto;
  position: absolute;
  background: linear-gradient(
    rgba(0,0,0,.4),
    rgba(0,0,0,.9) 85%
  );
  z-index: 0;
}

.header > h1 {
  font-size: 2rem;
  z-index: 1;
}

.header > a {
  border: 1px solid white;
  color: white;
  width: 40%;
  text-align: center;
  text-decoration: none;
  z-index: 1;
  padding: .2rem;
}



.posts {
  height: auto;
  width: 100%;
  background: grey;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}



.posts > .post-grid {
  width: 100%;
  height: auto;
  background: black;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  gap: .5rem;
}


.post-grid > .post {
  aspect-ratio: 3/4;
  background: white;
}
